* {
    main-bg:            #050F0Ee6;
    main-fg:            #FFFFFFff;
    main-br:            #00F0FFff;
    main-ex:            #0B1E1Ccc;
    select-bg:          #00FF88ff;
    select-fg:          #050F0Eff;
    separatorcolor:     transparent;
    border-color:       #00F0FFaa;
}
