[Desktop Entry]
Type=Application
Version=1.0
Name=Install SecLegion OS
GenericName=Live System Installer
Comment=Install SecLegion OS by Ammar Elkholy to disk
Exec=sudo -E calamares
Icon=/usr/share/pixmaps/seclegion-logo.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;seclegion;calamares;setup;
