[Desktop Entry]
Type=Application
Version=1.0
Name=Install AE_ARCH Linux
GenericName=Live System Installer
Comment=Install AE_ARCH Linux (SecLegion Edition) by Ammar Elkholy to disk
Exec=sudo -E calamares
Icon=/usr/share/backgrounds/seclegion.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;arch;calamares;setup;
