window {
    border: 2px solid;
    border-color: #00FF88;
}
element selected.normal {
    border-color: #00FF88;
    background-color: #0B1E1C;
    text-color: #00FF88;
}
element selected.active {
    border-color: #00FF88;
    background-color: #0B1E1C;
    text-color: #00FF88;
}
